<header class="header">
  <div class="header__navigation">
    <div class="header-navigation">
      <!-- <label class="header-navigation__icon" for="header-checker-menu">Меню</label>
      <input type="checkbox" class="header-navigation__checker" id="header-checker-menu"> -->
      <button type="button" class="btn btn-default">
        <!-- @include ../../images/icons/menu.svg -->
      </button>
    </div>
  </div>
  <div class="header__logo">
    <div class="header-logo">
      <!-- @include ../../images/common/logo.svg -->
    </div>
  </div>
  <div class="header__phone">
    <div class="menu-phone">
      <span class="menu-phone__country-code">+7</span>
      <span class="menu-phone__city-code">(812)</span>
      <span class="menu-phone__number">983-11-18</span>
    </div>
  </div>
  <div class="header__order">
    <div class="header-order">
      <!-- <label class="header-order__icon" for="header-checker-order">Корзина</label>
      <input type="checkbox" class="header-order__checker" id="header-checker-order"> -->
      <button type="button" class="btn btn-default">
        <!-- @include ../../images/icons/basket.svg -->
      </button>
      <div class="header-order__list">
        <ul class="header-order-list">
          <li class="header-order-list__item">
            <form method="post" action="order" class="header-order-item">
              <a href="good" class="header-order-item__link-image">
                <img src="" alt="" class="header-order-item__image">
                <h4 class="header-order-item__title">Lorem ipsum dolor sit amet</h4>
                <span class="header-order-item__price">500 rub</span>
                <span class="header-order-item__count">3</span>
              </a>
              <input type="hidden" name="key" value="498f8886ce6dc728be9293ad5fd70312">
              <buttom type="submit" name="ms2_action" value="cart/remove" class="header-order-item__remove" title="Удалить">&times;</buttom>
            </form>
          </li>
          <li class="header-order-list__item">
            <form method="post" action="order" class="header-order-item">
              <a href="good" class="header-order-item__link-image">
                <img src="" alt="" class="header-order-item__image">
                <h4 class="header-order-item__title">Lorem ipsum dolor sit amet</h4>
                <span class="header-order-item__price">500 rub</span>
                <span class="header-order-item__count">3</span>
              </a>
              <input type="hidden" name="key" value="498f8886ce6dc728be9293ad5fd70312">
              <buttom type="submit" name="ms2_action" value="cart/remove" class="header-order-item__remove" title="Удалить">&times;</buttom>
            </form>
          </li>
          <li class="header-order-list__item">
            <form method="post" action="order" class="header-order-item">
              <a href="good" class="header-order-item__link-image">
                <img src="" alt="" class="header-order-item__image">
                <h4 class="header-order-item__title">Lorem ipsum dolor sit amet</h4>
                <span class="header-order-item__price">500 rub</span>
                <span class="header-order-item__count">3</span>
              </a>
              <input type="hidden" name="key" value="498f8886ce6dc728be9293ad5fd70312">
              <buttom type="submit" name="ms2_action" value="cart/remove" class="header-order-item__remove" title="Удалить">&times;</buttom>
            </form>
          </li>
        </ul>
        <div class="header-order-footer">
          <div class="header-order-footer__sum">4500 руб.</div>
          <a href="order" class="header-order-footer__link">Перейти в корзину</a>
        </div>
      </div>
    </div>
  </div>
  <div class="header__menu">
    <ul class="header-menu">
      <li class="header-menu__item">
        <a href="333" class="header-menu__link">Макарони</a>
      </li>
      <li class="header-menu__item">
        <a href="333" class="header-menu__link">Торты и пирожные</a>
      </li>
      <li class="header-menu__item">
        <a href="333" class="header-menu__link">Печенье и выпечка</a>
      </li>
      <li class="header-menu__item">
        <a href="333" class="header-menu__link">Конфеты и шоколад</a>
      </li>
      <li class="header-menu__item">
        <a href="333" class="header-menu__link">Подарочные наборы</a>
      </li>
      <li class="header-menu__item">
        <a href="333" class="header-menu__link">Дополнительные продукты</a>
      </li>
      <li class="header-menu__item">
        <a href="333" class="header-menu__link">Лавка счастья</a>
      </li>
    </ul>
  </div>
</header>