.phone {
  display: block;
  font-size: 13px;
  line-height: 1.1;
  letter-spacing: 1.5px;
  color: $color-grey-dark;
  text-align: center;
  padding: 5px 0;

  &:hover,
  &:focus {
    color: #000;
    text-decoration: none;
  }
}