.section {
  width: 100%;
  padding: 0;
  margin: 0;

  &_color {
    background-color: $color-grey;

    &_grey {
      background-color: $color-grey;
    }

    &_green {
      background-color: $color-green;
    }
  }
}