.header__menu {
  @extend .header__menu_hidden;
  position: absolute;
  left: $space-1;
  right: $space-1;
  background-color: #e9f0e0;
  padding: 0 $space-1 $space-1;
  overflow: hidden;
  z-index: -10;
  transition: top 1s ease 0s,
              bottom 1s ease 0s;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 1rem;
    right: 1rem;
    bottom: 1rem;
    border: 1px solid $set-cell__item_color;
    border-top-width: 0;
  }

  & > * {
    position: relative;
    z-index: 10;
  }
}