doctype html
html(class="no-js", lang="ru")

  include ../modules/head/head
  include ../modules/page/page
  include ../modules/header/header
  include ../modules/main-part/main-part
  include ../modules/footer/footer

  head
    +head(head.defaults)
  +page()
    |%=symbols=%
    +header( { index: true, menu: { active: false, url: 'index__menu.html' }, order: { active: false, url: 'index__order.html' } } )

    +main-part()

    +footer()

    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%%=min=%.js')