doctype html
html(class="no-js", lang="ru")

  include ../components/head/head
  include ../components/page/page
  include ../components/header/header
  include ../components/main-part/main-part
  include ../components/footer/footer

  head
    +head(head.defaults)
  +page()
    |%=symbols=%
    +header( { menu: { active: true, url: 'index.html' }, order: { active: false, url: 'index__order.html' } } )

    +main-part()

    +footer()

    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%%=min=%.js')