doctype html
html(class="no-js", lang="ru")

  include ../components/head/head
  include ../components/page/page
  include ../components/header/header
  include ../components/page-postcard/page-postcard
  include ../components/footer/footer

  head
    +head(head.defaults)
  +page()
    |%=symbols=%
    
    +page-postcard()

    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%%=min=%.js')