.variant-item__image {
  @extend .img-circle;
  border: .5rem solid transparent;
  transition: border-width .1s ease-in-out;
}

.variant-item {
  &:hover,
  &:focus {
    .variant-item__image {
      border-width: 0;
    }
  }
}