.header-menu__item {
  display: block;
  position: relative;
  text-transform: uppercase;

  &:after {
    content: '';
    display: block;
    border-bottom: 1px solid #cde7d4;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    margin: 0 auto;
  }

  &:last-child:after {
    content: none;
  }

  &:hover,
  &:focus,
  &:hover > *,
  &:focus > * {
    color: $color-green-dark;
    text-decoration: none;
  }

  & + & {
    margin-bottom: -1px;
  }

}