.header-logo {
  animation-name : none;
  bottom         : 0;
  color          : #000;
  display        : block;
  left           : 0;
  margin         : 0;
  overflow       : hidden;
  position       : absolute;
  right          : 0;
  top            : 0;
  width          : 100%;

  @keyframes collapseLogo {
    0% {
      margin : 0;
      color  : #000;
      top    : 0;
      left   : 0;
      right  : 0;
      bottom : 0;
    }
    40% {
      color : $color-beige;
    }
    100% {
      color      : $color-beige;
      margin     : -68px;
      top        : 0;
      left       : 70px;
      right      : 70px;
      transition : margin .8s ease-in-out 0.2s,
                   color .6s linear 0s;
    }
  }

  @keyframes collapseLogoReverse {
    0% {
      color  : $color-beige;
      margin : -68px;
      top    : 0;
      left   : 70px;
      right  : 70px;
    }
    40% {
      color : $color-beige;
    }
    100% {
      margin : 0;
      color  : #000;
      top    : 0;
      left   : 0;
      right  : 0;
      bottom : 0;
    }
  }

  animation-iteration-count : 1;
  animation-fill-mode       : forwards;
  animation-timing-function : linear;
  animation-duration        : .8s;
  animation-delay           : 3s;
  animation-direction       : normal;

  @media (min-width: 1024px) {
    position       : relative;
    animation-name : collapseLogo;
  }

  &:hover,
  &:focus {
    color: #000;
  }

  &_collapse {
    animation-name : none;

    @media (min-width: 1024px) {
      margin : -68px 0;
      color  : $color-beige;
    }

    .header-logo__image {
      display : none;
      @media (min-width: 1024px) {
        display : block;
      }

      &_title {
        display : block;
        margin  : 0 auto;
        opacity : 1;

        @media (min-width: 1024px) {
          display : none;
        }
      }
    }
  }

  &__image {
    width  : 100%;
    height : 100%;

    &_title {
      opacity    : 0;
      transition : opacity 1s linear 0s;

      @media (min-width: 1024px) {
        display : none;
      }
    }
  }

}