<main class="container-fluid">
  <ul class="main-part">
    <li class="main-part__item">
      <section class="part-card">
        <a href="part.html" class="part-card__image" style="background-image: url(images/main/macarons.jpg)"></a>
        <div class="part-card__title part-card__title_position_bottom-right">
          <div class="part-card-title">
            <h2 class="part-card-title__header">
              <a href="part.html" class="part-card-title__link">Макарони</a>
            </h2>
            <div class="part-card-title__description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa nam ea et ipsum, molestiae enim nulla accusantium laboriosam magnam mollitia tenetur ab sit pariatur veniam dolores, repellendus molestias quo voluptatem!
            </div>
          </div>
        </div>
      </section>
    </li>
    <li class="main-part__item main-part__item_half">
      <section class="part-card">
        <a href="part.html" class="part-card__image" style="background-image: url(images/main/cakes.jpg)"></a>
        <div class="part-card__title part-card__title_position_top-right">
          <div class="part-card-title">
            <h2 class="part-card-title__header">
              <a href="part.html" class="part-card-title__link">Торты и пирожные</a>
            </h2>
            <div class="part-card-title__description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae commodi, assumenda quam voluptates delectus recusandae. Voluptatibus perspiciatis corrupti fugit architecto maiores, veniam in recusandae quae nihil aperiam, possimus laborum placeat?
            </div>
          </div>
        </div>
      </section>
    </li>
    <li class="main-part__item main-part__item_half">
      <section class="part-card">
        <a href="part.html" class="part-card__image" style="background-image: url(images/main/cookies.jpg)"></a>
        <div class="part-card__title part-card__title_position_bottom-left">
          <div class="part-card-title">
            <h2 class="part-card-title__header">
              <a href="part.html" class="part-card-title__link">Печенье и выпечка</a>
            </h2>
            <div class="part-card-title__description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos laudantium eum est vitae cupiditate nulla, nobis aspernatur quae, placeat optio nisi dolorem. Consectetur asperiores soluta voluptatem tempora eos amet explicabo!
            </div>
          </div>
        </div>
      </section>
    </li>
    <li class="main-part__item main-part__item_clear">
      <div class="part-card part-card_simple">
        <h2 class="part-card__header">
          <a href="part.html" class="part-card__link">Ингредиенты наших сладостей</a>
        </h2>
      </div>
    </li>
    <li class="main-part__item">
      <section class="part-card">
        <a href="part.html" class="part-card__image" style="background-image: url(images/main/candys_chocolate.jpg)"></a>
        <div class="part-card__title part-card__title_position_bottom-center-left">
          <div class="part-card-title">
            <h2 class="part-card-title__header">
              <a href="part.html" class="part-card-title__link">Конфеты и шоколад</a>
            </h2>
            <div class="part-card-title__description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda optio aspernatur in laudantium laboriosam, modi dicta omnis ducimus obcaecati hic vel suscipit, excepturi, minima aliquam. Nihil cupiditate adipisci molestias inventore.
            </div>
          </div>
        </div>
      </section>
    </li>
    <li class="main-part__item main-part__item_half">
      <section class="part-card">
        <a href="part.html" class="part-card__image" style="background-image: url(images/main/additional_sets.jpg)"></a>
        <div class="part-card__title part-card__title_position_bottom-right">
          <div class="part-card-title">
            <h2 class="part-card-title__header">
              <a href="part.html" class="part-card-title__link">Дополнительные наборы</a>
            </h2>
            <div class="part-card-title__description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim nisi natus quod numquam dolor veniam praesentium quae voluptate aliquam officia fuga dolores commodi fugiat a quasi magnam ipsum, ratione vero.
            </div>
          </div>
        </div>
      </section>
    </li>
    <li class="main-part__item main-part__item_half">
      <section class="part-card">
        <a href="part.html" class="part-card__image" style="background-image: url(images/main/presents.jpg)"></a>
        <div class="part-card__title part-card__title_position_top-left">
          <div class="part-card-title">
            <h2 class="part-card-title__header">
              <a href="part.html" class="part-card-title__link">Подарочные наборы</a>
            </h2>
            <div class="part-card-title__description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati enim odit neque nesciunt fugiat sequi tempora mollitia excepturi cupiditate, quia tempore voluptatum reprehenderit. Provident enim voluptates, vel sint dolor magnam.
            </div>
          </div>
        </div>
      </section>
    </li>
    <li class="main-part__item">
      <section class="part-card">
        <a href="part.html" class="part-card__image" style="background-image: url(images/main/lavka_schastye.jpg)"></a>
        <div class="part-card__title part-card__title_position_bottom-center-right">
          <div class="part-card-title">
            <h2 class="part-card-title__header">
              <a href="part.html" class="part-card-title__link">Лавка Счастья</a>
            </h2>
            <div class="part-card-title__description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, autem doloremque ea reiciendis ipsa odio, nesciunt, cum corporis, eveniet iusto quia! Ad pariatur fugiat labore. Quisquam harum, necessitatibus deserunt nobis.
            </div>
          </div>
        </div>
      </section>
    </li>
  </ul>
</main>