$icon-font-path: '../fonts/';

$grid-gutter-width:    16px;

$color-grey:           #eee;
$color-green:          #e9f0e0;
$color-beige:          #fff9ea;

$set-cell__item_color: #979797;

// бежевый - #FFF9EA (цвет шапки меню, обводок, фонов и всего молочного)
// темно-серый - #4A4A4A (заголовки, цвет лого, меню шрифт)
// зеленый - #E9F0E0 (футер, меню ленты,добавить открытку и тп)
// темно-зеленый - #85B892 (хэштеги, стрелочки)
// светло-серый - #9B9B9B (иконки соцсетей, меню футер)
// палитра для продуктов в каталоге товара - #DFF1FB (голубой),
// #FDF7FF (розовый), #F0FAF3 (зеленый), #FFFEF6 (бежевый)
// основные блоки текста - #666666

$space-1:              1rem;
$space-2:              2rem;
$space-3:              3rem;
$space-4:              4rem;
$space-5:              5rem;

$fa-font-path:        "../fonts/fontawesome";

@import "./fonts/raleway";

$font-family-sans-serif:  "Raleway", Helvetica, Arial, sans-serif !default;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

@import "./components/**/*.scss";
