.part-card__image {
  opacity: .8;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-image: url(http://babeholder.pixoil.com/img/1024/450/1);
  background-position: center;
  background-size: cover;
  transition: opacity .3s linear;
}