.part-card-title {
  display: block;
  text-decoration: none;
  padding: $space-1 $space-1 0;
  width: auto;
  min-width: 120px;
  max-width: 430px;
  overflow: hidden;
  transition: all .3s ease-in-out .1s;

  &:hover,
  &:focus {
    padding: 40px 60px;
    min-width: 430px;
    text-decoration: none;

    .part-card-title__description {
      max-width: 430px;
      max-height: 300px;
      opacity: 1;
      text-decoration: none;
    }
  }

  &_position_top {
    padding-bottom: $space-1;
  }

  &_position_bottom {
    padding-top: $space-1;
  }

  &__link {
    font-size: 16px;
    letter-spacing: 1px;
    color: #4a4a4a;
    font-weight: 100;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }  
}