@lost gutter 0;

.part-goods {
  width: 100%;
  lost-flex-container: row;

  &__title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 1.2px;
    color: $color-grey-dark;
    text-align: center;
    lost-column: 1/1 1;
    padding: 0;
    margin: 36px 0;
  }

  &__item {
    @extend .part-goods__item_1-3;
    text-align: center;
    background-color: #d1e5f1;
    transition: background-color 1s linear;

    &_1-3 {
      lost-column: 1/3 0 0;
    }

    &_1-5 {
      lost-column: 1/5 0 0;
    }

    &:nth-child(4n+1) {
      background-color: $color-blue;

      &:hover,
      &:focus {
        background-color: darken($color-blue, 5%);
      }
    }

    &:nth-child(4n+2) {
      background-color: $color-beige-light;

      &:hover,
      &:focus {
        background-color: darken($color-beige-light, 5%);
      }
    }

    &:nth-child(4n+3) {
      background-color: $color-green-light;

      &:hover,
      &:focus {
        background-color: darken($color-green-light, 5%);
      }
    }

    &:nth-child(4n+4) {
      background-color: $color-pink;

      &:hover,
      &:focus {
        background-color: darken($color-pink, 5%);
      }
    }

  }
}