mixin main-part(data)

  main.main-part
    .main-part__item.main-part__item_full
      section.part-card
        a.part-card__image(href="part.html" style="background-image: url(%=static=%img/assets/main-part/macarons.jpg)")
        div.part-card__title.part-card__title_position_bottom-right
          a.part-card-title.part-card-title_position_bottom(href="part.html")
            h2.part-card-title__header
              .part-card-title__link Макарони
            div.part-card-title__description
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa nam ea et ipsum, molestiae enim nulla accusantium laboriosam magnam mollitia tenetur ab sit pariatur veniam dolores, repellendus molestias quo voluptatem!
    .main-part__item.main-part__item_half
      section.part-card
        a.part-card__image(href="part_cakes.html" style="background-image: url(%=static=%img/assets/main-part/cakes.jpg)")
        div.part-card__title.part-card__title_position_top-right
          a.part-card-title.part-card-title_position_top(href="part_cakes.html")
            h2.part-card-title__header
              .part-card-title__link Торты и пирожные
            div.part-card-title__description
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae commodi, assumenda quam voluptates delectus recusandae. Voluptatibus perspiciatis corrupti fugit architecto maiores, veniam in recusandae quae nihil aperiam, possimus laborum placeat?
    .main-part__item.main-part__item_half
      section.part-card
        a.part-card__image(href="part.html" style="background-image: url(%=static=%img/assets/main-part/cookies.jpg)")
        div.part-card__title.part-card__title_position_bottom-left
          a.part-card-title.part-card-title_position_bottom(href="part.html")
            h2.part-card-title__header
              .part-card-title__link Печенье и выпечка
            div.part-card-title__description
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos laudantium eum est vitae cupiditate nulla, nobis aspernatur quae, placeat optio nisi dolorem. Consectetur asperiores soluta voluptatem tempora eos amet explicabo!
    .main-part__item.main-part__item_full
      div.part-card.part-card_simple
        h2.part-card__header
          a.part-card__link(href="part.html") Ингредиенты наших сладостей
    .main-part__item.main-part__item_full
      section.part-card
        a.part-card__image(href="part_candy.html" style="background-image: url(%=static=%img/assets/part_candy/candy_up.jpg)")
        div.part-card__title.part-card__title_position_bottom-center-left
          a.part-card-title.part-card-title_position_bottom(href="part_candy.html")
            h2.part-card-title__header
              .part-card-title__link Конфеты и шоколад
            div.part-card-title__description
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda optio aspernatur in laudantium laboriosam, modi dicta omnis ducimus obcaecati hic vel suscipit, excepturi, minima aliquam. Nihil cupiditate adipisci molestias inventore.
    .main-part__item.main-part__item_half
      section.part-card
        a.part-card__image(href="part.html" style="background-image: url(%=static=%img/assets/main-part/additional_sets.jpg)")
        div.part-card__title.part-card__title_position_bottom-right
          a.part-card-title.part-card-title_position_bottom(href="part.html")
            h2.part-card-title__header
              .part-card-title__link Дополнительные наборы
            div.part-card-title__description
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim nisi natus quod numquam dolor veniam praesentium quae voluptate aliquam officia fuga dolores commodi fugiat a quasi magnam ipsum, ratione vero.
    .main-part__item.main-part__item_half
      section.part-card
        a.part-card__image(href="part.html" style="background-image: url(%=static=%img/assets/main-part/presents.jpg)")
        div.part-card__title.part-card__title_position_top-left
          a.part-card-title.part-card-title_position_top(href="part.html")
            h2.part-card-title__header
              .part-card-title__link Подарочные наборы
            div.part-card-title__description
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati enim odit neque nesciunt fugiat sequi tempora mollitia excepturi cupiditate, quia tempore voluptatum reprehenderit. Provident enim voluptates, vel sint dolor magnam.
    .main-part__item.main-part__item_full
      section.part-card
        a.part-card__image(href="part.html" style="background-image: url(%=static=%img/assets/main-part/lavka_schastye.jpg)")
        div.part-card__title.part-card__title_position_bottom-center-right
          a.part-card-title.part-card-title_position_bottom(href="part.html")
            h2.part-card-title__header
              .part-card-title__link Лавка Счастья
            div.part-card-title__description
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, autem doloremque ea reiciendis ipsa odio, nesciunt, cum corporis, eveniet iusto quia! Ad pariatur fugiat labore. Quisquam harum, necessitatibus deserunt nobis.