node_modules/
dev/
builds/

npm-debug.log
phantomjsdriver.log

/nbproject/*

**/sprite_96.*
**/svg-fallback-sprite.*
**/svg-sprite.*

.babelrc
.eslintignore
.eslintrc
.DS_Store
._.DS_Store
.tmpTemplater
.tmpPreproc
.idea
