.footer-tags__item {
  color: #85b892;
  font-size: 1.2rem;
  margin: 0 .5rem;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #348509;
    text-decoration: none;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &::before {
    content: '#';
  }
}