.part-card-title__description {
  transition: all .6s ease-in-out .1s;
  margin: 0 auto;
  opacity: 0;
  text-overflow: clip;
  overflow: hidden;
  max-height: 0;
  max-width: 0;
  padding-top: 1rem;
  text-align: left;
  hyphens: auto;
  font-size: 13px;
  line-height: 1.2;
  letter-spacing: 1px;
  color: #4a4a4a;
  font-weight: 200;
}