.city-select {
  text-align: center;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__prev,
  &__caption,
  &__next {
    display: inline-block;
  }

  &__caption {
    margin: 0;
  }
}