mixin page-postcard(data)

  include ../button/button

  .popup.popup_fullscreen
    +button( { mods: { type: 'link' }, url: 'order.html' } )(class='popup__close')
      | &times;
    h3.popup__header Выберите открытку
    .popup__content
      +button( { mods: {} } )(class='flip-card-toggle')
        | Перевернуть
      .flip-card
        .flip-card__container
          .flip-card__front.elasticstack#elasticstack
            input.postcard__id(type="hidden" value="12" name="id")
            input.postcard__count(type="hidden" value="1" name="count")
            .elasticstack__item(data-id="12")
              h5.elasticstack__header Saudade
              img.elasticstack__image(src='%=static=%img/assets/postcard/postcard-1.jpg', alt='')
            .elasticstack__item(data-id="25")
              h5.elasticstack__header Tuqburni
              img.elasticstack__image(src='%=static=%img/assets/postcard/postcard-2.jpg', alt='')
            .elasticstack__item(data-id="38")
              h5.elasticstack__header Retrouvailles
              img.elasticstack__image(src='%=static=%img/assets/postcard/postcard-3.jpg', alt='')
            .elasticstack__item(data-id="51")
              h5.elasticstack__header Yet Another Card
              img.elasticstack__image(src='%=static=%img/assets/postcard/postcard-4.jpg', alt='')
          .flip-card__back
            .input-group
              .input-group__item_1-3
                .input-box.input-box__filled
                  input.input-box__field(type='date', name='options[postcard-date]', placeholder='дд.мм.гггг')
              .input-group__item_2-3
                .input-box.input-box__filled
                  input.input-box__field(type='tetx', name='options[postcard-fullname]', placeholder='Имя', required)
            .input-box
              input.input-box__field(type='text', name='options[postcard-address]', placeholder='Адрес', required)
            textarea.textarea(name='options[postcard-message]', rows='5', placeholder='Ваше пожелание')
    .popup__footer
      +button( { mods: { type: 'link' }, url: 'order.html' } )(class="button_style_grey-outline")
        | Выбрать
        != jadeHelpers.Icon.call(locals, {iconName: 'arrow_long_right', className: 'add-to-card'})