.footer-social {
  margin: 0;
  padding: 0;
  @include list-unstyled;

  &__item {
    display: inline-block;
    font-size: 26px;
    line-height: 28px;
    vertical-align: middle;

    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  &__link {
    color: $color-grey-light;
    text-decoration: none;

    &:hover,
    &:focus {
      color: darken($color-grey-light, 10%);
    }

  }
}