.footer {
  @extend .section;
  @extend .section_color_green;
  padding: 1rem !important;

  &__title {
    text-align: center;
    text-transform: uppercase;
    margin: .5rem 0;
    font-size: 16px;
    letter-spacing: 1.5px;
    color: $color-grey-dark;
    font-weight: 200;
  }

  &__tags {
    text-align: center;
    overflow: hidden;
  }

  &__menu {
    text-align: center;
    font-size: 0;
  }

  &__social {
    text-align: center;
    font-size: 0;
    padding: 1rem 0 .5rem;
  }
}