.header {
  position: fixed;
  top: 0;
  left: 5rem;
  z-index: 100;
  background-color: $color-beige;
  padding: $space-2 $space-4;
  width: 30rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: center;
}