.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #dff1fa;
  z-index: 1000;
  lost-center: 100%;
  align-content: center;
  overflow: scroll;

  &__close {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 30px !important;
    line-height: 1 !important;
  }

  &__header {
    lost-column: 1/1;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;

    &:before,
    &:after {
      content: '';
      display: inline-block;
      width: 57px;
      height: 15px;
      margin: 0 15px;
      background-size: cover;
      background-position: center;
    }

    &:before {
      background-image: svg-load('./venzel_left.svg');
    }

    &:after {
      background-image: svg-load('./venzel_right.svg');
    }
  }

  &__content {
    lost-column: 1/1;
    text-align: center;
  }

  &__footer {
    lost-column: 1/1;
    text-align: center;

    & > button {
      display: inline-block;
    }
  }

}