@lost gutter 0;

.good-relevant {
  width: 100%;
  lost-flex-container: row;

  &__title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1.2px;
    color: #4a4a4a;
    text-align: center;
    lost-column: 5/5 1;
    padding: 0;
    margin: 36px 0;
    background-color: #fffbf1;
  }

  &__item {
    lost-column: 1/5 0 0;

    &:nth-child(4n+1) {
      background-color: #f7fcff;

      &:hover,
      &:focus {
        background-color: darken(#f7fcff, 5%);
      }
    }

    &:nth-child(4n+2) {
      background-color: #fff9ea;

      &:hover,
      &:focus {
        background-color: darken(#fff9ea, 5%);
      }
    }

    &:nth-child(4n+3) {
      background-color: #f0faf3;

      &:hover,
      &:focus {
        background-color: darken(#f0faf3, 5%);
      }
    }

    &:nth-child(4n+4) {
      background-color: #fdf7ff;

      &:hover,
      &:focus {
        background-color: darken(#fdf7ff, 5%);
      }
    }
  }


}