.box-select {
  position: relative;
  background-color: $color-beige /* !important */;

  &:active,
  &:hover {
    .box-select__popup {
      display: block;
    }
  }

  &__button {
    padding: 10px /* !important */;
    // text-align: center /* !important */;
    font-weight: 500 /* !important */;
    font-size: 10px /* !important */;
    letter-spacing: 1px /* !important */;
    color: $color-grey-dark /* !important */;
    display: flex /* !important */;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    align-content: center;

  }

  &__icon {
    // display: inline-block;
    // vertical-align: middle;
    border-radius: 50%;
    margin-right: 5px;
    width: 30px;
    // display: flex;
    // align-items: center;
  }

  &__title {
    flex: 1;
    text-align: left;
    // display: flex;
    // align-items: center;
  }

  &__dropdown {
    width: 23px;
    // display: flex;
    // align-items: center;
  }

  &__popup {
    display: none;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
  }
}