.header-shopping-footer {
  text-align: center;
  text-transform: uppercase;
  position: relative;
  display: block;

  &__sum {
    display: block;
    text-transform: uppercase;
    border-bottom: 1px solid #979797;
    border-top: 1px solid #979797;
    padding: $space-1 0;
  }

  &__link {
    font-size: 13px;
    letter-spacing: 0.9px;
    color: #4a4a4a;
    display: block;
    padding: $space-1 0;

    &:hover,
    &:focus {
      text-decoration: none;
      color: #85b892;
    }
  }
}