mixin header(data)
  include ../phone/phone
  include ../button/button
  include ../header-logo/header-logo
  include ../header-menu/header-menu
  include ../header-order/header-order
  include ../header-breadcrumbs/header-breadcrumbs

  header.header(class = data.index ? '' : 'header_collapse')
    template#modal
      .popup.popup_show
        +button( { mods: { style: 'glass' } } )(class='popup__close')
          | &times;
        header.popup__header
          | Контакты
        .popup__content
          p Санкт-Петербург
          +phone( { country: '+7', city: 812, number: '983-11-18' } )
          br
          br
          p Москва
          +phone( { country: '+7', city: 812, number: '983-11-18' } )
        footer.popup__footer
    .header__phone-modal#header__phone-modal(class = data.index ? 'header__phone-modal_fade_in' : '')
      +button( { mods: { style: 'glass' } } )(class="menu-button")
        != jadeHelpers.Icon.call(locals, {iconName: 'call', className: 'icon icon_phone'})
    .header__navigation#header__navigation
      +button( { mods: { style: 'glass' } } )(class="menu-button")
        if data.menu.active
          != jadeHelpers.Icon.call(locals, {iconName: 'arrow_up_green', className: 'menu-icon'})
        else
          != jadeHelpers.Icon.call(locals, {iconName: 'menu', className: 'menu-icon'})
    .header__logo
      +header-logo( { collapse: !data.index } )
    .header__city.peppermint.peppermint-inactive
      figure.header__city-item
        .header__phone
          +phone( { country: '+7', city: 812, number: '983-11-18' } )
        .city-select
          +button( { mods: { style: 'glass' } } )(class="city-select__prev") &lt;
          .city-select__caption Санкт-Петербург
          +button( { mods: { style: 'glass' } } )(class="city-select__next") &gt;
      figure.header__city-item
        .header__phone
          +phone( { country: '+7', city: 495, number: '123-45-67' } )
        .city-select
          +button( { mods: { style: 'glass' } } )(class="city-select__prev") &lt;
          .city-select__caption Москва
          +button( { mods: { style: 'glass' } } )(class="city-select__next") &gt;
      figure.header__city-item
        .header__phone
          +phone( { country: '+7', city: 999, number: '000-00-00' } )
        .city-select
          +button( { mods: { style: 'glass' } } )(class="city-select__prev") &lt;
          .city-select__caption Нью-Йорк
          +button( { mods: { style: 'glass' } } )(class="city-select__next") &gt;
    .header__order#header__order
      +button( { mods: { style: 'glass' } } )(class="menu-button order-button order-button_update")
        if data.order.active
          != jadeHelpers.Icon.call(locals, { iconName: 'arrow_up_green', className: 'basket-icon' } )
        else
          != jadeHelpers.Icon.call(locals, { iconName: 'basket', className: 'basket-icon' } )
    .header__menu#header-menu(class= data.menu.active ? 'header__menu_show' : 'header__menu_hidden')
      +header-menu(header.menu)
    .header__menu#header-order(class= data.order.active ? 'header__menu_show' : 'header__menu_hidden')
      +header-order()
    if data.breadcrumbs
      .header__menu.header__menu_breadcrumbs
        +header-breadcrumbs( { title: 'Макарони', url: 'part.html' } )