.button {
  display: inline-block;
  font-weight: $btn-font-weight;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: $input-btn-border-width solid transparent;
  overflow: hidden;
  @include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $line-height, $btn-border-radius);
  @include transition(all .2s ease-in-out);

  &,
  &:active,
  &_active {
    &:focus,
    &.focus {
      @include tab-focus();
    }
  }

  @include hover-focus {
    text-decoration: none;
  }

  &_focus {
    text-decoration: none;
  }

  &:active,
  &_active {
    background-image: none;
    outline: 0;
    @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &:focus,
  &_focus {
    outline-color: $color-green !important;
  }

  &_disabled,
  &:disabled {
    cursor: $cursor-disabled;
    opacity: .65;
    @include box-shadow(none);
  }

  &_style {
    &_glass {
      @include button-variant(#000, transparent, transparent);
    }

    &_grey-outline {
      @include button-variant($color-grey-dark, transparent, $color-grey-dark);
    }

    &_primary {
      @include button-variant(#000, $color-beige, $color-beige);
    }


  }

  &_add-to-card {
    color: $color-grey-dark;
    border-color: $color-grey-dark;
    border-width: 1px;
    background-color: $color-green;
    display: block;
    width: 100%;
    border-radius: 0;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 200;
    font-size: 14px;

    &:disabled {
      background-color: transparent;
    }
  }

  &_action {
    @extend .button_add-to-card;
  }

  &__caption {
    display: inline-block;
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.button_disabled,
fieldset[disabled] a.button {
  pointer-events: none;
}