mixin part_candy(data)
  
  .part-page
    .part-card.part-card_nohover
      .part-card__image(style="background-image: url(%=static=%img/assets/part_candy/candy_up.jpg)")
    .part-content
      h2.part-content__title Конфеты
      .part-content__content
        p Французское кондитерское изделие из яичных белков, сахарной пудры, сахарного песка, молотого миндаля и пищевых красителей. Обычно делается в форме печенья; между двумя слоями кладут крем или варенье. Название происходит от слова ammaccare (итал. maccarone/maccherone) — «разбить, раздавить», и является отсылкой к способу изготовления основного ингредиента, миндального порошка.
  .part-goods
    .part-goods__item
      a.good-card(href='good.html')
        img.good-card__image(src='%=static=%img/assets/part_candy/candy-1.png', alt='Название товара')
        .good-card__caption
          h3.good-card__title Название товара (4&times;2)
          .good-card__price 500     
    .part-goods__item
      a.good-card(href='good_4-3.html')
        img.good-card__image(src='%=static=%img/assets/part_candy/candy-2.png', alt='Название товара')
        .good-card__caption
          h3.good-card__title Название товара (4&times;3)
          .good-card__price 500 rub
    .part-goods__item
      a.good-card(href='good_6-3.html')
        img.good-card__image(src='%=static=%img/assets/part_candy/candy-3.png', alt='Название товара')
        .good-card__caption
          h3.good-card__title Название товара (6&times;3)
          .good-card__price 500 rub
    .part-goods__item
      a.good-card(href='good_8-3.html')
        img.good-card__image(src='%=static=%img/assets/part_candy/candy-4.png', alt='Название товара')
        .good-card__caption
          h3.good-card__title Название товара (8&times;3)
          .good-card__price 500 rub
    .part-goods__item
      a.good-card(href='good.html')
        img.good-card__image(src='%=static=%img/assets/part_candy/candy-5.png', alt='Название товара')
        .good-card__caption
          h3.good-card__title Название товара
          .good-card__price 500 rub
    .part-goods__item
      a.good-card(href='good.html')
        img.good-card__image(src='%=static=%img/assets/part_candy/candy-6.png', alt='Название товара')
        .good-card__caption
          h3.good-card__title Название товара
          .good-card__price 500 rub
    .part-goods__item
      a.good-card(href='good.html')
        img.good-card__image(src='%=static=%img/assets/part_candy/candy-7.png', alt='Название товара')
        .good-card__caption
          h3.good-card__title Название товара
          .good-card__price 500 rub
    .part-goods__item
      a.good-card(href='good.html')
        img.good-card__image(src='%=static=%img/assets/part_candy/candy-8.png', alt='Название товара')
        .good-card__caption
          h3.good-card__title Название товара
          .good-card__price 500 rub
    .part-goods__item
      a.good-card(href='good.html')
        img.good-card__image(src='http://placehold.it/200x260/', alt='Название товара')
        .good-card__caption
          h3.good-card__title Название товара
          .good-card__price 500 rub
    .part-goods__item
      a.good-card(href='good.html')
        img.good-card__image(src='http://placehold.it/200x260/', alt='Название товара')
        .good-card__caption
          h3.good-card__title Название товара
          .good-card__price 500 rub
    .part-goods__item
      a.good-card(href='good.html')
        img.good-card__image(src='http://placehold.it/200x260/', alt='Название товара')
        .good-card__caption
          h3.good-card__title Название товара
          .good-card__price 500 rub
    .part-goods__item
      a.good-card(href='good.html')
        img.good-card__image(src='http://placehold.it/200x260/', alt='Название товара')
        .good-card__caption
          h3.good-card__title Название товара
          .good-card__price 500 rub