mixin dragdrop(data)

  .dragdrop
    .container
      .content
        .grid.clearfix#grid
          .grid__item(data-good="печенька-a" data-src='http://babeholder.pixoil.com/img/300/300/1/?0000000000010') 1 
          .grid__item(data-good="печенька-b" data-src='http://babeholder.pixoil.com/img/300/300/1/?0000000000011') 2 
          .grid__item(data-good="печенька-c" data-src='http://babeholder.pixoil.com/img/300/300/1/?0000000000012') 3 
          .grid__item(data-good="печенька-d" data-src='http://babeholder.pixoil.com/img/300/300/1/?0000000000013') 4 
          .grid__item(data-good="печенька-e" data-src='http://babeholder.pixoil.com/img/300/300/1/?0000000000014') 5 
          .grid__item(data-good="печенька-f" data-src='http://babeholder.pixoil.com/img/300/300/1/?0000000000015') 6 
          .grid__item(data-good="печенька-g" data-src='http://babeholder.pixoil.com/img/300/300/1/?0000000000016') 7 
          .grid__item(data-good="печенька-h" data-src='http://babeholder.pixoil.com/img/300/300/1/?0000000000017') 8 
          .grid__item(data-good="печенька-i" data-src='http://babeholder.pixoil.com/img/300/300/1/?0000000000018') 9 
          .grid__item(data-good="печенька-j" data-src='http://babeholder.pixoil.com/img/300/300/1/?0000000000019') 10 
          .grid__item(data-good="печенька-k" data-src='http://babeholder.pixoil.com/img/300/300/1/?0000000000020') 11 
          .grid__item(data-good="печенька-l" data-src='http://babeholder.pixoil.com/img/300/300/1/?0000000000021') 12 
    .drop-area#drop-area
      .drop-area__item(data-order="" data-src="aa")
        input(type="hidden")
      .drop-area__item(data-order="" data-src="ab")
        input(type="hidden")
      .drop-area__item(data-order="" data-src="ac")
        input(type="hidden")
      .drop-area__item(data-order="" data-src="ad")
        input(type="hidden")
      .drop-area__item(data-order="" data-src="ae")
        input(type="hidden")
      .drop-area__item(data-order="" data-src="af")
        input(type="hidden")
      .drop-area__item(data-order="" data-src="ag")
        input(type="hidden")
      .drop-area__item(data-order="" data-src="ah")
        input(type="hidden")

    .dragdrop__overlay