@lost flexbox flex;
@lost gutter: 15px;

.page-contacts {
  lost-center: 100%;
  background-image: url(%=static=%assets/order-page/background.jpg);
  background-position: center;
  padding: 200px 30px 60px;
}