mixin header-menu(data)
  ul.header-menu
    - each item, i in headerMenu.menu
      li( class=[ 'header-menu__item', item.active ? 'header-menu__item_active' : '' ] )
        a.header-menu__link( href=item.link ) #{ item.title }