.textarea {
  margin-top: 2em;
  width: 100%;
  background-color: $color-green;
  border: 2px solid transparent;
  padding: 1em;

  &:focus {
    outline: none;
    background-color: transparent;
    border-color: $color-green-dark;
  }

  &_expanded {
    transition: height .8s;
  }
}