.header__menu {
  position: absolute;
  top: 100%;
  left: $space-1;
  right: $space-1;
  // bottom: -($space-1);
  background-color: #e9f0e0;
  padding: 0 $space-1 $space-1;
  transition: bottom .2s linear;
}