.header-logo {
  display: block;
  color: #000;
  transition: margin 0.4s ease-in-out 0.2s,
              color 0.4s linear 0s;
  overflow: hidden;

  &_collapse {
    margin: -68px 0;
    color: $color-beige;
  }

  &__image {
    width: 100%;
    height: 100%;

  }

}
