@lost flexbox flex;
@lost gutter 30px;

.contacts {
  lost-center: 1170px;
  background-color: $off-white;
  padding-top: 70px;
  padding-bottom: 100px;

  &__title {
    text-align: left;
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 1px;
    color: $greyish-brown;
  }

  &__address {
    lost-column: 2/10 0 30px flex;
    lost-offset: -1/10;
    padding-top: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    color: $greyish-brown;
  }

  &__time {
    margin-top: 10px;
    font-weight: 200;
    font-size: 14px;
    line-height: 1;
    color: $greyish-brown;
  }

  &__logo {
    margin-top: 55px;
  }

  &__feedback {
    lost-column: 5/10 1 30px flex;
    lost-offset: -1/10;
    text-align: right;
  }

  &__submit[type='submit'] {
    margin-top: 42px;
    display: inline-block;
    width: auto;
  }
}