mixin contacts(data)

  include ../button/button

  .page-contacts
    .contacts
      .contacts__address
        .contacts__logo
          != jadeHelpers.Icon.call(locals, {iconName: 'angels_contacts', className: 'watermark'})
        | Санкт-Петербург,<br>
        | ул. Рубинштейна 15-17
        .contacts__time
          | пн-чт, вс: 09:00 - 00:00<br>
          | пт, сб 09:00 - 02:00<br>
          | +7 (812) 572-26-75
      .contacts__feedback
        h2.contacts__title Напишите нам
        form.form-feedback
          .input-box 
            input.input-box__field(type='text', name='name', id='name', required)
            label.input-box__label(for='name')
              span.input-box__label-content(data-content='Имя') Имя
          .input-box 
            input.input-box__field(type='email', name='email', id='email', required)
            label.input-box__label(for='email')
              span.input-box__label-content(data-content='Email') Email
          textarea.textarea(name='', rows='5', placeholder='Сообщение')
          button.button.contacts__submit(type='submit')
            | Отправить
            != jadeHelpers.Icon.call(locals, {iconName: 'arrow_long_right', className: 'submit-button'})