<div class="part-header" style="background-image: url(images/part/header.jpg);"></div>
<div class="container">
  <h2 class="h3">Собери свой набор</h2>
  <div class="row">
    <div class="col-md-6">
      <div class="row set-cell">
        <div class="col-sm-2 set-cell__item">
          <div class="set-cell-content" style="background-image: url(http://babeholder.pixoil.com/img/300/?1234567890abc);"></div>
        </div>
        <div class="col-sm-2 set-cell__item">
          <div class="set-cell-content" style="background-image: url(http://babeholder.pixoil.com/img/300/?1244567890abd);"></div>
        </div>
        <div class="col-sm-2 set-cell__item">
          <div class="set-cell-content" style="background-image: url(http://babeholder.pixoil.com/img/300/?1254567890abe);"></div>
        </div>
        <div class="col-sm-2 set-cell__item">
          <div class="set-cell-content" style="background-image: url(http://babeholder.pixoil.com/img/300/?1264567890abf);"></div>
        </div>
        <div class="col-sm-2 set-cell__item">
          <div class="set-cell-content"></div>
        </div>
        <div class="col-sm-2 set-cell__item">
          <div class="set-cell-content"></div>
        </div>
        <div class="col-sm-2 set-cell__item">
          <div class="set-cell-content"></div>
        </div>
        <div class="col-sm-2 set-cell__item">
          <div class="set-cell-content"></div>
        </div>
        <div class="col-sm-2 set-cell__item">
          <div class="set-cell-content"></div>
        </div>
        <div class="col-sm-2 set-cell__item">
          <div class="set-cell-content"></div>
        </div>
        <div class="col-sm-2 set-cell__item">
          <div class="set-cell-content"></div>
        </div>
        <div class="col-sm-2 set-cell__item">
          <div class="set-cell-content"></div>
        </div>
        <div class="col-sm-2 set-cell__item">
          <div class="set-cell-content"></div>
        </div>
        <div class="col-sm-2 set-cell__item">
          <div class="set-cell-content"></div>
        </div>
        <div class="col-sm-2 set-cell__item">
          <div class="set-cell-content"></div>
        </div>
        <div class="col-sm-2 set-cell__item">
          <div class="set-cell-content"></div>
        </div>
        <div class="col-sm-2 set-cell__item">
          <div class="set-cell-content"></div>
        </div>
        <div class="col-sm-2 set-cell__item">
          <div class="set-cell-content"></div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row set-variant">
        <div class="col-sm-2 set-variant__item">
          <button type="button" class="variant-item">
            <img
              src="http://babeholder.pixoil.com/img/300/1:1/1/?1234567890abc"
              class="variant-item__image"
              alt="Название товара">
            <h3 class="variant-item__caption">Название товара</h3>
          </button>
        </div>
        <div class="col-sm-2 set-variant__item">
          <button type="button" class="variant-item">
            <img
              src="http://babeholder.pixoil.com/img/300/1:1/1/?1234567890abc"
              class="variant-item__image"
              alt="Название товара">
            <h3 class="variant-item__caption">Название товара</h3>
          </button>
        </div>
        <div class="col-sm-2 set-variant__item">
          <button type="button" class="variant-item">
            <img
              src="http://babeholder.pixoil.com/img/300/1:1/1/?1234567890abc"
              class="variant-item__image"
              alt="Название товара">
            <h3 class="variant-item__caption">Название товара</h3>
          </button>
        </div>
        <div class="col-sm-2 set-variant__item">
          <button type="button" class="variant-item">
            <img
              src="http://babeholder.pixoil.com/img/300/1:1/1/?1234567890abc"
              class="variant-item__image"
              alt="Название товара">
            <h3 class="variant-item__caption">Название товара</h3>
          </button>
        </div>
        <div class="col-sm-2 set-variant__item">
          <button type="button" class="variant-item">
            <img
              src="http://babeholder.pixoil.com/img/300/1:1/1/?1234567890abc"
              class="variant-item__image"
              alt="Название товара">
            <h3 class="variant-item__caption">Название товара</h3>
          </button>
        </div>
        <div class="col-sm-2 set-variant__item">
          <button type="button" class="variant-item">
            <img
              src="http://babeholder.pixoil.com/img/300/1:1/1/?1234567890abc"
              class="variant-item__image"
              alt="Название товара">
            <h3 class="variant-item__caption">Название товара</h3>
          </button>
        </div>
        <div class="col-sm-2 set-variant__item">
          <button type="button" class="variant-item">
            <img
              src="http://babeholder.pixoil.com/img/300/1:1/1/?1234567890abc"
              class="variant-item__image"
              alt="Название товара">
            <h3 class="variant-item__caption">Название товара</h3>
          </button>
        </div>
        <div class="col-sm-2 set-variant__item">
          <button type="button" class="variant-item">
            <img
              src="http://babeholder.pixoil.com/img/300/1:1/1/?1234567890abc"
              class="variant-item__image"
              alt="Название товара">
            <h3 class="variant-item__caption">Название товара</h3>
          </button>
        </div>
        <div class="col-sm-2 set-variant__item">
          <button type="button" class="variant-item">
            <img
              src="http://babeholder.pixoil.com/img/300/1:1/1/?1234567890abc"
              class="variant-item__image"
              alt="Название товара">
            <h3 class="variant-item__caption">Название товара</h3>
          </button>
        </div>
        <div class="col-sm-2 set-variant__item">
          <button type="button" class="variant-item">
            <img
              src="http://babeholder.pixoil.com/img/300/1:1/1/?1234567890abc"
              class="variant-item__image"
              alt="Название товара">
            <h3 class="variant-item__caption">Название товара</h3>
          </button>
        </div>
        <div class="col-sm-2 set-variant__item">
          <button type="button" class="variant-item">
            <img
              src="http://babeholder.pixoil.com/img/300/1:1/1/?1234567890abc"
              class="variant-item__image"
              alt="Название товара">
            <h3 class="variant-item__caption">Название товара</h3>
          </button>
        </div>
        <div class="col-sm-2 set-variant__item">
          <button type="button" class="variant-item">
            <img
              src="http://babeholder.pixoil.com/img/300/1:1/1/?1234567890abc"
              class="variant-item__image"
              alt="Название товара">
            <h3 class="variant-item__caption">Название товара</h3>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h2 class="h3">Название набора</h2>
      <dl>
        <dt>Состав</dt>
        <dd>
          <ul class="list-inline list-tags">
            <li class="list-tags__item">
              <a  href="999" class="list-tags__link">#крем</a>
            </li>
            <li class="list-tags__item">
              <a  href="999" class="list-tags__link">#миндаль</a>
            </li>
            <li class="list-tags__item">
              <a  href="999" class="list-tags__link">#мука</a>
            </li>
            <li class="list-tags__item">
              <a  href="999" class="list-tags__link">#орехи</a>
            </li>
            <li class="list-tags__item">
              <a  href="999" class="list-tags__link">#миндальнаямука</a>
            </li>
            <li class="list-tags__item">
              <a  href="999" class="list-tags__link">#шоколад</a>
            </li>
            <li class="list-tags__item">
              <a  href="999" class="list-tags__link">#миндальнаямука</a>
            </li>
            <li class="list-tags__item">
              <a  href="999" class="list-tags__link">#шоколад</a>
            </li>
            <li class="list-tags__item">
              <a  href="999" class="list-tags__link">#тесто</a>
            </li>
          </ul>
          
        </dd>
        <dt>Сроки хранения</dt>
        <dd>
          Хранить <strong>ТОЛЬКО</strong> в холодильнике при температуре от&nbsp;0&nbsp;до&nbsp;6&nbsp;градусов в течении 2-3 дней.
        </dd>
      </dl>
    </div>
    <div class="col-sm-4">
      <h2 class="h3">Варианты упаковки</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="btn btn-default thumbnail">
            <img src="http://babeholder.pixoil.com/img/300/1:1/1/?1234567890abc" alt="Упаковка 1" class="img-circle">
            <h3 class="caption">От Счастья</h3>
          </div>
        </div>
        <div class="col-md-4">
          <div class="btn btn-default thumbnail">
            <img src="http://babeholder.pixoil.com/img/300/1:1/1/?1234567890abd" alt="Упаковка 2" class="img-circle">
            <h3 class="caption">Особая</h3>
          </div>
        </div>
        <div class="col-md-4">
          <div class="btn btn-default thumbnail">
            <img src="http://babeholder.pixoil.com/img/300/1:1/1/?1234567890abe" alt="Упаковка 3" class="img-circle">
            <h3 class="caption">Подарочная</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <h2 class="h3">
        <div class="btn-group pull-right" role="group" aria-label="...">
          <button type="button" class="btn btn-default">
            <i class="fa fa-chevron-left"></i>
          </button>
          <button type="button" class="btn btn-default">4</button>
          <button type="button" class="btn btn-default">
            <i class="fa fa-chevron-right"></i>
          </button>
        </div>
        Количество коробок
      </h2>
      <hr>
      <h2 class="h3">
        <div class="pull-right">2000&nbsp;rub</div>
        Стоимость
      </h2>
      <button class="btn btn-default btn-block">
        Добавить в корзину
        <i class="fa fa-long-arrow-right"></i>
      </button>
    </div>
  </div>
</div>
<div class="part-header" style="background-image: url(images/part/header.jpg);"></div>
<h2 class="text-center">С этим товаром покупают</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <a href="good.html" class="thumbnail">
        <img src="http://babeholder.pixoil.com/img/300/1:1/1/?1234567890abc" alt="Название товара">
        <div class="caption text-center">
          <h3>Название товара</h3>
          <hr>
          <p class="price">500 rub</p>
        </div>
      </a>
    </div>
    <div class="col-sm-2">
      <a href="good.html" class="thumbnail">
        <img src="http://babeholder.pixoil.com/img/300/1:1/1/?1234567890abc" alt="Название товара">
        <div class="caption text-center">
          <h3>Название товара</h3>
          <hr>
          <p class="price">500 rub</p>
        </div>
      </a>
    </div>
    <div class="col-sm-2">
      <a href="good.html" class="thumbnail">
        <img src="http://babeholder.pixoil.com/img/300/1:1/1/?1234567890abc" alt="Название товара">
        <div class="caption text-center">
          <h3>Название товара</h3>
          <hr>
          <p class="price">500 rub</p>
        </div>
      </a>
    </div>
    <div class="col-sm-2">
      <a href="good.html" class="thumbnail">
        <img src="http://babeholder.pixoil.com/img/300/1:1/1/?1234567890abc" alt="Название товара">
        <div class="caption text-center">
          <h3>Название товара</h3>
          <hr>
          <p class="price">500 rub</p>
        </div>
      </a>
    </div>
    <div class="col-sm-2">
      <a href="good.html" class="thumbnail">
        <img src="http://babeholder.pixoil.com/img/300/1:1/1/?1234567890abc" alt="Название товара">
        <div class="caption text-center">
          <h3>Название товара</h3>
          <hr>
          <p class="price">500 rub</p>
        </div>
      </a>
    </div>
    <div class="col-sm-2">
      <a href="good.html" class="thumbnail">
        <img src="http://babeholder.pixoil.com/img/300/1:1/1/?1234567890abc" alt="Название товара">
        <div class="caption text-center">
          <h3>Название товара</h3>
          <hr>
          <p class="price">500 rub</p>
        </div>
      </a>
    </div>
  </div>
</div>