<div class="part-header" style="background-image: url(images/part/header.jpg);"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="part-content">
        <h2 class="part-content__title text-center">Заголовок</h2>
        <div class="part-content__content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi repudiandae commodi culpa deserunt id, debitis, vel voluptates sit laboriosam ut officia voluptate quisquam sed, rem animi, quos? Facilis, magni nihil.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <a href="good.html" class="thumbnail">
        <img src="http://babeholder.pixoil.com/img/300/1:1/1/?1234567890abc" alt="Название товара">
        <div class="caption text-center">
          <h3>Название товара</h3>
          <hr>
          <p class="price">500 rub</p>
        </div>
      </a>
    </div>
    <div class="col-sm-4">
      <a href="good.html" class="thumbnail">
        <img src="http://babeholder.pixoil.com/img/300/1:1/1/?1234567890abc" alt="Название товара">
        <div class="caption text-center">
          <h3>Название товара</h3>
          <hr>
          <p class="price">500 rub</p>
        </div>
      </a>
    </div>
    <div class="col-sm-4">
      <a href="good.html" class="thumbnail">
        <img src="http://babeholder.pixoil.com/img/300/1:1/1/?1234567890abc" alt="Название товара">
        <div class="caption text-center">
          <h3>Название товара</h3>
          <hr>
          <p class="price">500 rub</p>
        </div>
      </a>
    </div>
    <div class="col-sm-4">
      <a href="good.html" class="thumbnail">
        <img src="http://babeholder.pixoil.com/img/300/1:1/1/?1234567890abc" alt="Название товара">
        <div class="caption text-center">
          <h3>Название товара</h3>
          <hr>
          <p class="price">500 rub</p>
        </div>
      </a>
    </div>
    <div class="col-sm-4">
      <a href="good.html" class="thumbnail">
        <img src="http://babeholder.pixoil.com/img/300/1:1/1/?1234567890abc" alt="Название товара">
        <div class="caption text-center">
          <h3>Название товара</h3>
          <hr>
          <p class="price">500 rub</p>
        </div>
      </a>
    </div>
    <div class="col-sm-4">
      <a href="good.html" class="thumbnail">
        <img src="http://babeholder.pixoil.com/img/300/1:1/1/?1234567890abc" alt="Название товара">
        <div class="caption text-center">
          <h3>Название товара</h3>
          <hr>
          <p class="price">500 rub</p>
        </div>
      </a>
    </div>
    <div class="col-sm-4">
      <a href="good.html" class="thumbnail">
        <img src="http://babeholder.pixoil.com/img/300/1:1/1/?1234567890abc" alt="Название товара">
        <div class="caption text-center">
          <h3>Название товара</h3>
          <hr>
          <p class="price">500 rub</p>
        </div>
      </a>
    </div>
    <div class="col-sm-4">
      <a href="good.html" class="thumbnail">
        <img src="http://babeholder.pixoil.com/img/300/1:1/1/?1234567890abc" alt="Название товара">
        <div class="caption text-center">
          <h3>Название товара</h3>
          <hr>
          <p class="price">500 rub</p>
        </div>
      </a>
    </div>
    <div class="col-sm-4">
      <a href="good.html" class="thumbnail">
        <img src="http://babeholder.pixoil.com/img/300/1:1/1/?1234567890abc" alt="Название товара">
        <div class="caption text-center">
          <h3>Название товара</h3>
          <hr>
          <p class="price">500 rub</p>
        </div>
      </a>
    </div>
    <div class="col-sm-4">
      <a href="good.html" class="thumbnail">
        <img src="http://babeholder.pixoil.com/img/300/1:1/1/?1234567890abc" alt="Название товара">
        <div class="caption text-center">
          <h3>Название товара</h3>
          <hr>
          <p class="price">500 rub</p>
        </div>
      </a>
    </div>
    <div class="col-sm-4">
      <a href="good.html" class="thumbnail">
        <img src="http://babeholder.pixoil.com/img/300/1:1/1/?1234567890abc" alt="Название товара">
        <div class="caption text-center">
          <h3>Название товара</h3>
          <hr>
          <p class="price">500 rub</p>
        </div>
      </a>
    </div>
    <div class="col-sm-4">
      <a href="good.html" class="thumbnail">
        <img src="http://babeholder.pixoil.com/img/300/1:1/1/?1234567890abc" alt="Название товара">
        <div class="caption text-center">
          <h3>Название товара</h3>
          <hr>
          <p class="price">500 rub</p>
        </div>
      </a>
    </div>
  </div>
</div>