mixin page-delivery(data)

  include ../button/button

  .page-delivery
    .part-card.part-card_nohover
      .part-card__image(style="background-image: url(%=static=%img/assets/main-part/macarons.jpg)")
    .page-delivery__direction
      .delivery.delivery_horizontal
        .delivery__item
          input.delivery__checked(type='radio' id='type_1' name='delivery__type')
          label.delivery__title(for='type_1') Доставка курьером
          .delivery__content
            |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aspernatur repudiandae saepe, placeat consectetur tenetur error maxime accusamus, ab quaerat. Autem minima nihil illum rem veritatis aut itaque natus velit.
        .delivery__item
          input.delivery__checked(type='radio' id='type_2' name='delivery__type')
          label.delivery__title(for='type_2') Экспресс-доставка
          .delivery__content
            |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, tempora provident. Sit iste, commodi qui modi. Recusandae consequatur dolorem voluptatem! Vitae eius nesciunt sapiente laborum reiciendis, perferendis odio doloremque quo.
        .delivery__item
          input.delivery__checked(type='radio' id='type_3' name='delivery__type')
          label.delivery__title(for='type_3') Самовывоз из ресторана
          .delivery__content
            |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis impedit beatae voluptatum fugit nemo. Eius, libero necessitatibus mollitia, ab consectetur a vel perspiciatis excepturi impedit numquam minima, dignissimos cupiditate in!
    .map
      .map__block#map
      .map__search
        .input-box.input-box_light
          input.input-box__field(type='text', name='search', placeholder='Введите свой адрес, чтобы узнать стоимость доставки')
          .input-box__addon.input-box__addon_right
            +button({ mods: {} })
              != jadeHelpers.Icon.call(locals, {iconName: 'angel', className: 'icon-search'})
    script(src='https://maps.googleapis.com/maps/api/js?callback=initMap', async, defer)
    script.
      let map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 50.397, lng: 30.644},
          zoom: 8,
          scrollwheel: false,
          navigationControl: false,
          mapTypeControl: false,
          scaleControl: false
        });
      }