mixin part_cakes(data)
  
  .part-page
    .part-card.part-card_nohover
      .part-card__image(style="background-image: url(%=static=%img/assets/part_cakes/cakes_up.jpg)")
    .part-content
      h2.part-content__title Торты и пирожные
      .part-content__content
        p Французское кондитерское изделие из яичных белков, сахарной пудры, сахарного песка, молотого миндаля и пищевых красителей. Обычно делается в форме печенья; между двумя слоями кладут крем или варенье. Название происходит от слова ammaccare (итал. maccarone/maccherone) — «разбить, раздавить», и является отсылкой к способу изготовления основного ингредиента, миндального порошка.
  .part-goods
    .part-goods__item
      a.good-card(href='good_cakes.html')
        img.good-card__image(src='%=static=%img/assets/part_cakes/cakes-1.png', alt='Название товара')
        .good-card__caption
          h3.good-card__title Название товара
          .good-card__price 500 rub
    .part-goods__item
      a.good-card(href='good_cakes.html')
        img.good-card__image(src='%=static=%img/assets/part_cakes/cakes-2.png', alt='Название товара')
        .good-card__caption
          h3.good-card__title Название товара
          .good-card__price 500 rub
    .part-goods__item
      a.good-card(href='good_cakes.html')
        img.good-card__image(src='http://placehold.it/200x260/', alt='Название товара')
        .good-card__caption
          h3.good-card__title Название товара
          .good-card__price 500 rub
    .part-goods__item
      a.good-card(href='good_cakes.html')
        img.good-card__image(src='http://placehold.it/200x260/', alt='Название товара')
        .good-card__caption
          h3.good-card__title Название товара
          .good-card__price 500 rub
    .part-goods__item
      a.good-card(href='good_cakes.html')
        img.good-card__image(src='http://placehold.it/200x260/', alt='Название товара')
        .good-card__caption
          h3.good-card__title Название товара
          .good-card__price 500 rub
    .part-goods__item
      a.good-card(href='good_cakes.html')
        img.good-card__image(src='http://placehold.it/200x260/', alt='Название товара')
        .good-card__caption
          h3.good-card__title Название товара
          .good-card__price 500 rub
    .part-goods__item
      a.good-card(href='good_cakes.html')
        img.good-card__image(src='http://placehold.it/200x260/', alt='Название товара')
        .good-card__caption
          h3.good-card__title Название товара
          .good-card__price 500 rub
    .part-goods__item
      a.good-card(href='good_cakes.html')
        img.good-card__image(src='http://placehold.it/200x260/', alt='Название товара')
        .good-card__caption
          h3.good-card__title Название товара
          .good-card__price 500 rub
    .part-goods__item
      a.good-card(href='good_cakes.html')
        img.good-card__image(src='http://placehold.it/200x260/', alt='Название товара')
        .good-card__caption
          h3.good-card__title Название товара
          .good-card__price 500 rub
    .part-goods__item
      a.good-card(href='good_cakes.html')
        img.good-card__image(src='http://placehold.it/200x260/', alt='Название товара')
        .good-card__caption
          h3.good-card__title Название товара
          .good-card__price 500 rub
    .part-goods__item
      a.good-card(href='good_cakes.html')
        img.good-card__image(src='http://placehold.it/200x260/', alt='Название товара')
        .good-card__caption
          h3.good-card__title Название товара
          .good-card__price 500 rub
    .part-goods__item
      a.good-card(href='good_cakes.html')
        img.good-card__image(src='http://placehold.it/200x260/', alt='Название товара')
        .good-card__caption
          h3.good-card__title Название товара
          .good-card__price 500 rub