mixin content-page(data)
  
  .content-page
    .part-card.part-card_nohover.part-card_skew_bottom-left
      .part-card__image(style="background-image: url(%=static=%img/assets/main-part/macarons.jpg)")
    .part-content
      h2.part-content__title Нижний скос слева направо
      .part-content__content
        p Французское&nbsp;кондитерское изделие из яичных белков,&nbsp;сахарной пудры,&nbsp;сахарного песка, молотого&nbsp;миндаля&nbsp;и&nbsp;пищевых красителей.&nbsp;Обычно делается в форме&nbsp;печенья; между двумя слоями кладут&nbsp;крем&nbsp;или&nbsp;варенье. Название происходит от слова&nbsp;ammaccare&nbsp;(итал.&nbsp;maccarone/maccherone)&nbsp;— «разбить, раздавить», и является отсылкой к способу изготовления основного ингредиента, миндального порошка.
    .part-card.part-card_nohover.part-card_skew_bottom-right
      .part-card__image(style="background-image: url(%=static=%img/assets/main-part/macarons.jpg)")
    .part-content
      h2.part-content__title Нижний скос справа налево
      .part-content__content
        p Французское&nbsp;кондитерское изделие из яичных белков,&nbsp;сахарной пудры,&nbsp;сахарного песка, молотого&nbsp;миндаля&nbsp;и&nbsp;пищевых красителей.&nbsp;Обычно делается в форме&nbsp;печенья; между двумя слоями кладут&nbsp;крем&nbsp;или&nbsp;варенье. Название происходит от слова&nbsp;ammaccare&nbsp;(итал.&nbsp;maccarone/maccherone)&nbsp;— «разбить, раздавить», и является отсылкой к способу изготовления основного ингредиента, миндального порошка.
    .part-card.part-card_nohover.part-card_skew_top-left
      .part-card__image(style="background-image: url(%=static=%img/assets/main-part/macarons.jpg)")
    .part-content
      h2.part-content__title Верхний скос справа налево
      .part-content__content
        p Французское&nbsp;кондитерское изделие из яичных белков,&nbsp;сахарной пудры,&nbsp;сахарного песка, молотого&nbsp;миндаля&nbsp;и&nbsp;пищевых красителей.&nbsp;Обычно делается в форме&nbsp;печенья; между двумя слоями кладут&nbsp;крем&nbsp;или&nbsp;варенье. Название происходит от слова&nbsp;ammaccare&nbsp;(итал.&nbsp;maccarone/maccherone)&nbsp;— «разбить, раздавить», и является отсылкой к способу изготовления основного ингредиента, миндального порошка.
    .part-card.part-card_nohover.part-card_skew_top-right
      .part-card__image(style="background-image: url(%=static=%img/assets/main-part/macarons.jpg)")
    .part-content
      h2.part-content__title Верхний скос слева направо
      .part-content__content
        p Французское&nbsp;кондитерское изделие из яичных белков,&nbsp;сахарной пудры,&nbsp;сахарного песка, молотого&nbsp;миндаля&nbsp;и&nbsp;пищевых красителей.&nbsp;Обычно делается в форме&nbsp;печенья; между двумя слоями кладут&nbsp;крем&nbsp;или&nbsp;варенье. Название происходит от слова&nbsp;ammaccare&nbsp;(итал.&nbsp;maccarone/maccherone)&nbsp;— «разбить, раздавить», и является отсылкой к способу изготовления основного ингредиента, миндального порошка.
    .part-card.part-card_nohover.part-card_skew_top-right.part-card_skew_bottom-right
      .part-card__image(style="background-image: url(%=static=%img/assets/main-part/macarons.jpg)")
    .part-content
      h2.part-content__title Верхний скос слева направо и нижний справа налево
      .part-content__content
        p Французское&nbsp;кондитерское изделие из яичных белков,&nbsp;сахарной пудры,&nbsp;сахарного песка, молотого&nbsp;миндаля&nbsp;и&nbsp;пищевых красителей.&nbsp;Обычно делается в форме&nbsp;печенья; между двумя слоями кладут&nbsp;крем&nbsp;или&nbsp;варенье. Название происходит от слова&nbsp;ammaccare&nbsp;(итал.&nbsp;maccarone/maccherone)&nbsp;— «разбить, раздавить», и является отсылкой к способу изготовления основного ингредиента, миндального порошка.
    .part-card.part-card_nohover.part-card_skew_top-right.part-card_skew_bottom-left
      .part-card__image(style="background-image: url(%=static=%img/assets/main-part/macarons.jpg)")
    .part-content
      h2.part-content__title Верхний скос слева направо и нижний слева направо
      .part-content__content
        p Французское&nbsp;кондитерское изделие из яичных белков,&nbsp;сахарной пудры,&nbsp;сахарного песка, молотого&nbsp;миндаля&nbsp;и&nbsp;пищевых красителей.&nbsp;Обычно делается в форме&nbsp;печенья; между двумя слоями кладут&nbsp;крем&nbsp;или&nbsp;варенье. Название происходит от слова&nbsp;ammaccare&nbsp;(итал.&nbsp;maccarone/maccherone)&nbsp;— «разбить, раздавить», и является отсылкой к способу изготовления основного ингредиента, миндального порошка.
    .part-card.part-card_nohover.part-card_skew_top-left.part-card_skew_bottom-left
      .part-card__image(style="background-image: url(%=static=%img/assets/main-part/macarons.jpg)")
    .part-content
      h2.part-content__title Верхний скос справа налево и нижний слева направо
      .part-content__content
        p Французское&nbsp;кондитерское изделие из яичных белков,&nbsp;сахарной пудры,&nbsp;сахарного песка, молотого&nbsp;миндаля&nbsp;и&nbsp;пищевых красителей.&nbsp;Обычно делается в форме&nbsp;печенья; между двумя слоями кладут&nbsp;крем&nbsp;или&nbsp;варенье. Название происходит от слова&nbsp;ammaccare&nbsp;(итал.&nbsp;maccarone/maccherone)&nbsp;— «разбить, раздавить», и является отсылкой к способу изготовления основного ингредиента, миндального порошка.
    .part-card.part-card_nohover.part-card_skew_top-left.part-card_skew_bottom-right
      .part-card__image(style="background-image: url(%=static=%img/assets/main-part/macarons.jpg)")
    .part-content
      h2.part-content__title Верхний скос справа налево и нижний справа налево
      .part-content__content
        p Французское&nbsp;кондитерское изделие из яичных белков,&nbsp;сахарной пудры,&nbsp;сахарного песка, молотого&nbsp;миндаля&nbsp;и&nbsp;пищевых красителей.&nbsp;Обычно делается в форме&nbsp;печенья; между двумя слоями кладут&nbsp;крем&nbsp;или&nbsp;варенье. Название происходит от слова&nbsp;ammaccare&nbsp;(итал.&nbsp;maccarone/maccherone)&nbsp;— «разбить, раздавить», и является отсылкой к способу изготовления основного ингредиента, миндального порошка.
    .part-card.part-card_nohover.part-card_skew_top-left
      .part-card__image(style="background-image: url(%=static=%img/assets/main-part/macarons.jpg)")