.content-page {

  &_fullheight {
    min-height: 80vh;
    padding-top: 10%;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
    }
  }
}