.map {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;

  &:before{
    display: block;
    content: " ";
    width: 100%;
    padding-top: 45%;
  }

  &__block {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__search {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 21px;
    width: 617px;
    margin: 0 auto;
    z-index: 1;
  }
}