.header {
  position: fixed;
  top: 0;
  left: 5rem;
  z-index: 100;
  padding: $space-2 $space-4;
  width: 295px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: center;
  border: 1px solid #ECE7DB;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: $color-beige;
    z-index: -1;
  }

  &:hover,
  &:focus {
    .header-logo {
      margin: 0;
      color: #000;
    }
  }

  &__logo {
    width: 100%;
    order: 1;
  }

  &__city {
    order: 2;
    text-align: center;
    width: 93%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }

  &__navigation {
    order: 4;
  }

  &__order {
    order: 6;  
  }

  &__menu {
    @extend .header__menu_hidden;
    position: absolute;
    left: $space-1;
    right: $space-1;
    background-color: #e9f0e0;
    padding: 0 $space-1 $space-1;
    overflow: hidden;
    z-index: -10;
    transition: transform .5s ease 0s,
                z-index .5s ease 0s;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 1rem;
      right: 1rem;
      bottom: 1rem;
      border: 1px solid $set-cell__item_color;
      border-top-width: 0;
    }

    &_hidden {
      top: auto;
      bottom: -($space-2);
      transform: translateY( calc(2rem - 10%) );
      z-index: -10;
    }

    &_show {
      // top: 100%;
      // bottom: auto;
      transform: translateY( calc(100% - 2rem) );
      z-index: -5 !important;
    }

    &_breadcrumbs {
      transform: translateY(calc(2.5rem - 10%));
    }

    & > * {
      position: relative;
      z-index: 10;
    }
  }

  &__phone {
    margin: 15px 0 0;
  }

  &__shopping-list {
    @extend .header__menu;
    min-height: 350px;
    overflow-y: hidden;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 1rem;
      right: 1rem;
      bottom: 1rem;
      border: 1px solid $set-cell__item_color;
      border-top-width: 0;
    }

    &_hidden {
      top: auto;
      bottom: -($space-2);
    }

    &_show {
      top: 100%;
      bottom: auto;
    }
  }

}