mixin main-part(data)

  main.main-part
    .main-part__item.main-part__item_full
      section.part-card
        a.part-card__image(href="part.html" style="background-image: url(%=static=%img/assets/main-part/macarons.jpg)")
        div.part-card__title.part-card__title_position_bottom-right
          a.part-card-title.part-card-title_position_bottom(href="part.html")
            h2.part-card-title__header
              .part-card-title__link Макарони
            div.part-card-title__description
              | Потребление достижимо в разумные сроки. Дело в том, что рекламный клаттер продуцирует диктат потребителя, опираясь на опыт западных коллег. В общем, производство одновременно искажает продуктовый ассортимент.
    .main-part__item.main-part__item_half
      section.part-card
        a.part-card__image(href="part_cakes.html" style="background-image: url(%=static=%img/assets/main-part/cakes.jpg)")
        div.part-card__title.part-card__title_position_top-right
          a.part-card-title.part-card-title_position_top(href="part_cakes.html")
            h2.part-card-title__header
              .part-card-title__link Торты и пирожные
            div.part-card-title__description
              | Общество потребления усиливает конструктивный ребрендинг. А вот по мнению аналитиков производство вполне выполнимо. Контент транслирует повседневный департамент маркетинга и продаж, учитывая современные тенденции.
    .main-part__item.main-part__item_half
      section.part-card
        a.part-card__image(href="part.html" style="background-image: url(%=static=%img/assets/main-part/cookies.jpg)")
        div.part-card__title.part-card__title_position_bottom-left
          a.part-card-title.part-card-title_position_bottom(href="part.html")
            h2.part-card-title__header
              .part-card-title__link Печенье и выпечка
            div.part-card-title__description
              | Наряду с этим, искусство медиапланирования восстанавливает коллективный инструмент маркетинга. К тому же рекламный бриф тормозит культурный ребрендинг, используя опыт предыдущих кампаний.
    .main-part__item.main-part__item_full
      div.part-card.part-card_simple
        h2.part-card__header
          a.part-card__link(href="part.html") Ингредиенты наших сладостей
    .main-part__item.main-part__item_full
      section.part-card
        a.part-card__image(href="part_candy.html" style="background-image: url(%=static=%img/assets/part_candy/candy_up.jpg)")
        div.part-card__title.part-card__title_position_bottom-center-left
          a.part-card-title.part-card-title_position_bottom(href="part_candy.html")
            h2.part-card-title__header
              .part-card-title__link Конфеты и шоколад
            div.part-card-title__description
              | Перераспределение бюджета стабилизирует потребительский анализ зарубежного опыта, используя опыт предыдущих кампаний.
    .main-part__item.main-part__item_half
      section.part-card
        a.part-card__image(href="part.html" style="background-image: url(%=static=%img/assets/main-part/additional_sets.jpg)")
        div.part-card__title.part-card__title_position_bottom-right
          a.part-card-title.part-card-title_position_bottom(href="part.html")
            h2.part-card-title__header
              .part-card-title__link Дополнительные наборы
            div.part-card-title__description
              | Личность топ менеджера откровенна. Несмотря на сложности, рекламная площадка нейтрализует клиентский спрос, учитывая современные тенденции. Медийная реклама, вопреки мнению П.Друкера, транслирует сублимированный портрет потребителя. Емкость рынка усиливает фирменный пак-шот.
    .main-part__item.main-part__item_half
      section.part-card
        a.part-card__image(href="part.html" style="background-image: url(%=static=%img/assets/main-part/presents.jpg)")
        div.part-card__title.part-card__title_position_top-left
          a.part-card-title.part-card-title_position_top(href="part.html")
            h2.part-card-title__header
              .part-card-title__link Подарочные наборы
            div.part-card-title__description
              | По мнению ведущих маркетологов, рекламная кампания наиболее полно развивает охват аудитории. Такое понимание ситуации восходит к Эл Райс, при этом сервисная стратегия тормозит бюджет на размещение.
    .main-part__item.main-part__item_full
      section.part-card
        a.part-card__image(href="part.html" style="background-image: url(%=static=%img/assets/main-part/lavka_schastye.jpg)")
        div.part-card__title.part-card__title_position_bottom-center-right
          a.part-card-title.part-card-title_position_bottom(href="part.html")
            h2.part-card-title__header
              .part-card-title__link Лавка Счастья
            div.part-card-title__description
              | Повышение жизненных стандартов достижимо в разумные сроки. Тем не менее, перераспределение бюджета искажает культурный фактор коммуникации, опираясь на опыт западных коллег. Точечное воздействие поразительно.