mixin main-part(data)

  main.main-part
    .main-part__item.main-part__item_full
      section.part-card
        a.part-card__image(href="part.html" style="background-image: url(%=static=%img/assets/main-part/macarons.jpg)")
        div.part-card__title.part-card__title_position_bottom-right
          a.part-card-title.part-card-title_position_bottom(href="part.html")
            h2.part-card-title__header
              .part-card-title__link Макарони
            div.part-card-title__description Са&shy;мый яр&shy;кий ком&shy;пли&shy;мент  - это пи&shy;рож&shy;ные руч&shy;ной ра&shy;бо&shy;ты ма&shy;ка&shy;ронс, при&shy;го&shy;тов&shy;лен&shy;ные по клас&shy;си&shy;че&shy;ско&shy;му ре&shy;цеп&shy;ту фран&shy;цуз&shy;ских кон&shy;ди&shy;те&shy;ров
    .main-part__item.main-part__item_half
      section.part-card
        a.part-card__image(href="part_cakes.html" style="background-image: url(%=static=%img/assets/main-part/cakes.jpg)")
        div.part-card__title.part-card__title_position_top-right
          a.part-card-title.part-card-title_position_top(href="part_cakes.html")
            h2.part-card-title__header
              .part-card-title__link Торты и пирожные
            div.part-card-title__description Мы уме&shy;ем де&shy;лать сча&shy;стье не толь&shy;ко из шо&shy;ко&shy;ла&shy;да – на&shy;ши кон&shy;ди&shy;те&shy;ры де&shy;ла&shy;ют вкус&shy;ные пи&shy;рож&shy;ные и тор&shy;ты по ав&shy;тор&shy;ским ре&shy;цеп&shy;там на за&shy;каз
    .main-part__item.main-part__item_half
      section.part-card
        a.part-card__image(href="part.html" style="background-image: url(%=static=%img/assets/main-part/cookies.jpg)")
        div.part-card__title.part-card__title_position_bottom-left
          a.part-card-title.part-card-title_position_bottom(href="part.html")
            h2.part-card-title__header
              .part-card-title__link Печенье и выпечка
            div.part-card-title__description До&shy;маш&shy;нее пе&shy;че&shy;нье Сча&shy;стье - это со&shy;че&shy;та&shy;ние неж&shy;но&shy;го те&shy;ста и на&shy;ту&shy;раль&shy;ных ин&shy;гре&shy;ди&shy;ен&shy;тов: оре&shy;хов, ме&shy;да, фрук&shy;тов и шо&shy;ко&shy;ла&shy;да. Эти ин&shy;гре&shy;ди&shy;ен&shy;ты в со&shy;че&shy;та&shy;нии друг с дру&shy;гом не толь&shy;ко неве&shy;ро&shy;ят&shy;но вкус&shy;ны, но и по&shy;лез&shy;ны.
    .main-part__item.main-part__item_full
      div.part-card.part-card_simple
        h2.part-card__header
          a.part-card__link(href="part.html") Ингредиенты наших сладостей
    .main-part__item.main-part__item_full
      section.part-card
        a.part-card__image(href="part_candy.html" style="background-image: url(%=static=%img/assets/part_candy/candy_up.jpg)")
        div.part-card__title.part-card__title_position_bottom-center-left
          a.part-card-title.part-card-title_position_bottom(href="part_candy.html")
            h2.part-card-title__header
              .part-card-title__link Конфеты и шоколад
            div.part-card-title__description Мы сде&shy;ла&shy;ли на&shy;ши шо&shy;ко&shy;лад&shy;ные кон&shy;фе&shy;ты ку&shy;би&shy;ка&shy;ми, каж&shy;дый из ко&shy;то&shy;рых счи&shy;та&shy;ем ма&shy;лень&shy;ким  кир&shy;пи&shy;чи&shy;ком ва&shy;ше&shy;го боль&shy;шо&shy;го сча&shy;стья, ко&shy;то&shy;рое мы де&shy;ла&shy;ем сво&shy;и&shy;ми ру&shy;ка&shy;ми.
    .main-part__item.main-part__item_half
      section.part-card
        a.part-card__image(href="part.html" style="background-image: url(%=static=%img/assets/main-part/additional_sets.jpg)")
        div.part-card__title.part-card__title_position_bottom-right
          a.part-card-title.part-card-title_position_bottom(href="part.html")
            h2.part-card-title__header
              .part-card-title__link Дополнительные наборы
            div.part-card-title__description
    .main-part__item.main-part__item_half
      section.part-card
        a.part-card__image(href="part.html" style="background-image: url(%=static=%img/assets/main-part/presents.jpg)")
        div.part-card__title.part-card__title_position_top-left
          a.part-card-title.part-card-title_position_top(href="part.html")
            h2.part-card-title__header
              .part-card-title__link Подарочные наборы
            div.part-card-title__description
    .main-part__item.main-part__item_full
      section.part-card
        a.part-card__image(href="part.html" style="background-image: url(%=static=%img/assets/main-part/lavka_schastye.jpg)")
        div.part-card__title.part-card__title_position_bottom-center-right
          a.part-card-title.part-card-title_position_bottom(href="part.html")
            h2.part-card-title__header
              .part-card-title__link Лавка Счастья
            div.part-card-title__description Лав&shy;ка сча&shy;стья – это ин&shy;тернет ма&shy;га&shy;зин кон&shy;ди&shy;тер&shy;ских из&shy;де&shy;лий руч&shy;ной ра&shy;бо&shy;ты, ко&shy;то&shy;рые мы са&shy;ми едим каж&shy;дый день и де&shy;лим&shy;ся с те&shy;ми, ко&shy;го лю&shy;бим.