.page {
  background-color: $color-beige;
  overflow-x: hidden;
  padding-top: 54px;

  @media (min-width : 1024px) {
    padding-top: 0;
  }

  & > svg {
    border:   0             !important;
    clip:     rect(0 0 0 0) !important;
    height:   1px           !important;
    margin:   -1px          !important;
    overflow: hidden        !important;
    padding:  0             !important;
    position: absolute      !important;
    width:    1px           !important;
  }

  &_modal {
    overflow: hidden;

    &:before {
      content: '';
      display: block;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0,0,0,.6);
      z-index: 101;
    }
  }

}