.flip-card {
  @extend .elasticstack;
  perspective: 2000;
  transform-style: preserve-3d;
  margin-bottom: 3rem;
  
  &__container {
    transition: .6s;
    transform-style: preserve-3d;
    position: relative;
    // &:hover,
    &_flip {
      .flip-card__back {
        transform: rotateY(0deg);
        z-index: 4;
        opacity: 1;
      }
      .flip-card__front {
        transform: rotateY(180deg);
      }
    }
  }

  &__front,
  &__back {
    backface-visibility: hidden;
    transition: transform .5s linear;
  }

  &__front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
  }

  &__back {
    @extend .elasticstack__item;
    opacity: 1;
    transform: rotateY(180deg);
    bottom: 0;
  }
}