<!doctype html>
<html class="no-js" lang="<!-- @echo config.htmlLanguage -->"
  itemscope itemtype="http://schema.org/LocalBusiness">
  <head>
    <meta charset="utf-8">
    <title><!-- @echo config.projectTitle --></title>
    <meta name="description" content="<!-- @echo description -->">
    <meta name="keywords" content="<!-- @echo keywords -->">
    <base href="/">
    <!-- @include ./components/_head/_head.html -->
    <!-- @include ./components/_styles/_styles.html -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <!-- @include ./components/_helpers/_helpers.html -->
    <!-- @include ./components/header.html -->
    <!-- @include ./layouts/part.html -->
    <!-- @include ./components/footer.html -->
    <!-- @include ./components/_counters/_counters.html -->
    <!-- @include ./components/_scripts/_scripts.html -->
  </body>
</html>