.order-sets {
  display: block;
  width: 100%;
  
  &__item {
    border: solid 1px #dfdfdf;
    border-left-width: 0;
    border-right-width: 0;
    padding: 5px 0;

    & + & {
      border-top-width: 0;
    }
  }
}